
        <div class="item">
            <div>Nome completo</div>
            <div class="input">
                <input 
                    type="text"
                    name="name"
                    placeholder ="Digite seu nome completo"
                    value="{{user.name}}" >
            </div>
        </div>

        <div class="item">
            <div>Email</div>
            <div class="input">
                <input 
                    type="text"
                    name="email"
                    placeholder ="Digite seu email"
                    value="{{user.email}}"
                    onblur="Validate.apply(this,'isEmail')" >
            </div>
        </div>

        <div class="item">
            <div>Senha</div>
            <div class="input">
                <input 
                    type="password"
                    name="password"
                    placeholder ="Escolha uma senha segura"
                    value="{{user.password}}" >
            </div>
        </div>

        {%if not user.id%}

        <div class="item">
            <div>Repetir Senha</div>
            <div class="input">
                <input 
                    type="password"
                    name="passwordRepeat"
                    placeholder ="Repita a senha "
                     >
            </div>
        </div>

        {%endif%}


        <div class="item">
            <div>Cpf ou cnpj</div>
            <div class="input">
                <input 
                    type="text"
                    name="cpf_cnpj"
                    placeholder ="Digite seu documento"
                    value="{{user.cpf_cnpj}}"
                    onkeydown="Mask.apply(this,'cpfCnpj')" >
            </div>
        </div>


        <div class="item">
            <div>Cep</div>
            <div class="input">
                <input 
                    type="text"
                    name="cep"
                    placeholder ="99999-999"
                    value="{{user.cep}}" >
            </div>
        </div>

        <div class="item">
            <div>Endereço completo</div>
            <div class="input">
                <input 
                    type="text"
                    name="endereco"
                    placeholder ="Endereço completo"
                    value="{{user.adress}}" >
            </div>
        </div>

       