.user-register.container.form{
    max-width:500px;
}

.form input[name="email"],
.form input[name="password"],
.form input[name="passwordRepeat"],
.form input[name="cpf_cnpj"],
.form input[name="cep"]{
    
   /* max-width: 60%;*/
}

@keyframes hidemessage{
    to {
        top:-50px;
        opacity:0
    }
}

.messages{
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 16px;
    width: 100%;
    color: white;
    top: 0;
    opacity: 1;
    animation: hidemessage 400ms 5s ease-out forwards;

}

.messages.error{
    background-color: #e74c3c;
}

.messages.success{
    background-color: rgb(108, 173, 108);
}

.accounts{
    position: relative;
}
.accounts .submenu{
    position: absolute;
    top:32px;
    left: 0;
    margin-top: 8px;
    width: 150px;
    display: block;
    background-color: white;
    filter:drop-shadow(1px 1px 2px  #000);
    transition:  all 200ms;
    border-radius: 4px;

    opacity: 0;
    visibility: hidden;
}

.accounts:hover .submenu{
    top:10px;
    opacity: 1;
    visibility: inherit;
}

.accounts .submenu li a,
.accounts .submenu li button {
    color: #777;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    border-top: 1px solid #eee;

    display: inline-block;
    width: 100%;

}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.footer a {
    color: rgb(194, 189, 189) ;

}

.footer a:hover{
    color: black;
    font-weight: bold;
}



